{% extends "Metro/base.html" %}
{% block content %}

<div class="container">
    <span class="Titulo-Form">Agregar Datos al Mantenedor</span>
    <form class="row g-3" id="form-agregar" method="POST">
        {% csrf_token %}
        <div class="col-md-12">
          <label for="linea" class="form-label">Linea Metro</label>
          <select class="form-select" id="linea">
            <option selected disabled>Seleccione Linea</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
          </select>
          <p id="mensaje_error" >Seleccione una opcion</p>
        </div>
        <div class="col-md-12">
          <label for="aglomeracion" class="form-label">Cantidad de Aglomeración</label>
          <input type="number" class="form-control" id="aglomeracion" name="aglomeracion">
          <p id="mensaje_error2" >Ingrese algún dato</p>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary" id="boton-submit">Agregar</button>
        </div>
      </form>
    
</div>

<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
{% endblock %}