{% extends "Metro/base.html" %}
{% block content %}

<span class="Titulo-Form">REPORTES</span>
<div class="container">
    <a href="{% url 'reportes' %}"><button type="button" class="btn btn-primary" style="float:right; margin:10px;" >Agregar Reporte</button></button></a>
    <table class="table table-hover">
        <thead>
          <tr>
          </tr>
        </thead>
        <tbody>
          {% for reporte in reportes %}
          <tr>
            <th scope="row">Reporte {{reporte.f_id_metro.linea_metro}} {{reporte.f_id_metro.fecha}} </th>
            <td>
              <a href="{% url 'mostrar_reporte' reporte.id_reporte %}">
                <button type="button" class="btn btn-primary" style="float:right;">Ver Reporte</button>
              </a>
              <a href="{% url 'editar_reportes' reporte.id_reporte %}">
                <button type="button" class="btn btn-primary" style="float:right; margin-right: 10px;">Editar Reporte</button>
              </a>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="2">No hay reportes disponibles.</td>
          </tr>
          {% endfor %}
        </tbody>
    </table>

    <!-- Paginación -->
    <div class="pagination">
        <span class="step-links">
            {% if reportes.has_previous %}
                <a href="?page=1"><button type="button" class="btn btn-primary">&laquo; primera</button></a>
                <a href="?page={{ reportes.previous_page_number }}"><button type="button" class="btn btn-primary">anterior</button></a>
            {% endif %}

            <span class="current">
                Página {{ reportes.number }} de {{ reportes.paginator.num_pages }}.
            </span>

            {% if reportes.has_next %}
                <a href="?page={{ reportes.next_page_number }}"><button type="button" class="btn btn-primary">Siguiente</button></a>
                <a href="?page={{ reportes.paginator.num_pages }}"><button type="button" class="btn btn-primary">última &raquo;</button></a>
            {% endif %}
        </span>
    </div>
</div>

{% endblock %}
