.Titulo-Form{
    margin-top: 4%;
    display: block;
    text-align: center;
    font-size: xx-large;
    padding-bottom: 20px;
}
@media only screen and (min-device-width:100px) and (max-device-width:720px) {
    .Titulo-Form{
        text-align: center;
        font-size: large;
        padding-bottom: 10px;
    }
}

#mensaje_error{
    color:red;
    text-align: center;
    vertical-align: middle;
    padding:10px 0 0 0;
    margin: 0;
    display:none;
}

#mensaje_error2{
    color:red;
    text-align: center;
    vertical-align: middle;
    padding:10px 0 0 0;
    margin: 0;
    display:none;
}