.nav-link{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    
}

.nav-link:hover{
    color: black;
}

#logo{
    height: 7vh;
    width: auto;
}